body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.hero,
footer {
  background-color: #2e2f42;
}
main {
  background-color: #f4f4fd;
}
a {
  text-decoration: none;
  font-style: normal;
}
li {
  list-style: none;
  padding-left: 0;
}
h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.container {
  max-width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ---Header style--- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container,
.page-nav,
.page-nav-list,
.page-contacts-list {
  display: flex;
}
.page-nav .logo,
.page-nav-list-item,
.nav-list-link,
.page-contacts-list-item,
.contacts-link {
  padding: 24px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
.page-contacts-list,
.page-nav-list {
  gap: 40px;
}
.page-header .container {
  justify-content: space-between;
}
.page-nav-list-item a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.page-nav-list-item a:hover,
.page-nav-list-item a:active,
.page-nav-list-item a:focus,
.page-contacts-list-item a:hover,
.page-contacts-list-item a:active,
.page-contacts-list-item a:focus {
  color: #404bbf;
}
.page-contacts-list-item a {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.page-contacts {
  font-style: normal;
}

/* ---HERO--- */
.hero {
  padding: 188px 0;
}
h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  width: 496px;
  text-align: center;
  margin: 0 auto;
}
.hero-btn {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin: 48px auto 0 auto;
}
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---ADVANTAGES SECTION--- */
.advantages {
  padding: 126px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100%-72px) / 4);
}
.advantages-list-item-title {
  margin-bottom: 8px;
}
.advantages-list-item-text {
}
/* ---OUR TEAM--- */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.our-team-list-title {
  text-align: center;
  margin: 32px 0 8px 0;
}
.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc(100%-72px) / 4;
  height: 380px;
}

.our-team-list-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 32px;
}

/* ---PORTFOLIO SECTION--- */

.portfolio {
  padding: 120px 0px;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100%-48px) / 3);
  border: 1px solid #e7e9fc;
}
.portfolio-list-item-title {
  padding: 32px 16px 8px 16px;
}
.portfolio-list-item-text {
  padding: 0px 0px 32px 16px;
}

/* ---FOOTER--- */
.page-footer {
  padding: 100px 0px;
}
.page-footer .container {
  height: 112px;
  margin-left: 156px;
}
.page-footer .logo-span {
  color: #f4f4fd;
}
.page-footer p {
  color: #f4f4fd;
  margin-top: 16px;
  width: 264px;
}
